<h1>Feuille de temps Accord Décor</h1>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">Feuille de temps Accord Décor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="nav-link" routerLink="/horaires">Vue mensuelle</a>
            <a class="nav-link" routerLink="/horairesDetail">Saisie horaires</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>